@media only screen and (max-width: 360px) {
    .header{
        width: 100%;
    }
    #menubar{
        width: 18px;
        height:30px;
    }
    #name{
        top:-77px;
        left:287px;
        width: 0px;
        opacity: 0;
        font: normal normal normal 12px/21px Roboto;
    }
    #menu{
        display: none;
    }
    #btnmenu{
        display:block;
        display: block;
    /* height: 77%; */
    top: 7px;
    position: relative;
    }
   #headerlogomobile{
    top: -30px;
    left: -18px;
    display:block;
   }
   #headerlogo{
    display:none;
   }
   #search{
    top: -61px;
    left: 98px;
   }
   #searchtext{
    display:none;
   }
   #notificaton{
    top:-60px;
    left:208px;
    width:22px;
   }
   #profile{
    top:-61px;
    left:209px;
    width:34px;
   }
   #downarraow{
    top:-135px;
    left:281px;
    width:65px;
   }
   .mobile-menu-icon {
    display: block;
    width: fit-content;
  }
  #mySidebardesktop{
    display:none;
  }
  #mySidebar{
    display: block;
  }
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 40px;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
 
  
  #containerdashboard{
    left: 0px;
    width: 100%;
  }
  #dashboardbox{
    flex-direction: column;
  }
  #dashboardbox > div {
    margin: 10px;
    left: 34px;   
  }
  #graphcontainer{
    flex-direction: column;
    margin-top: -17px;
  }
  #graphcontainer > div{
    margin:10px;

  }
  #graph{
    top: 101px;
    left:0px;
    width: fit-content;
  }
  #basicinfo{
    top: 20px;
    left: 110px;
    width: 108px;
  }
  #yearly{
    top: 20px;
    left: 11px;
  }
  #graphimg{
    width: 87%;
    margin-left: 22px;
    margin-top: 67px;
  }
  #piechart{
    left:0px;
    width:fit-content;
  }
}