@media (min-width:360px){
 .h-custom{ width: 100%;}
}
    #container{
        top: 0px;
        left: 0px;
        width: 1560px;
        height: 720px;
        background: #FAFAFA 0% 0% no-repeat padding-box;
        opacity: 1;
    }
    #bold{
        top: 105px;
    left: 400px;
    width: 500px;
    height: 100px;
    text-align: left;
    font: normal normal 300 34px/47px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
    position: relative;
}
#password{
    top: 111px;
    left: 400px;
    width: 377px;
    height: 39px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #ADADAD;
    border-radius: 5px;
    opacity: 1;
    position: relative;
}
#username{
    top: 95px;
    left: 400px;
    width: 377px;
    height: 39px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #ADADAD;
    border-radius: 5px;
    opacity: 1;
    position: relative;
}
#info{
    top: 100px;
    left: 400px;
    width: 260px;
height: 33px;
/* UI Properties */
text-align: left;
font: normal normal normal 25px/33px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;
position:relative;
}
::placeholder{
    top: 386px;
left: 1000px;
width: 68px;
height: 20px;
/* UI Properties */
text-align: left;
font: normal normal normal 15px/20px Roboto;
letter-spacing: 0px;
color: #ADADAD;
opacity: 1;
padding: 14.5px 346.5px 14.63px 14.37px;

}
#firstmenuactive{
    top: 36px;
    left: 13px;
    width: 183px;
    height: 43px;
    background: #FFF3F4 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    position: relative;
}
#login{
    top: 148px;
    left: 400px;
    width: 138px;
    height: 45px;
    background: #C8242F 0% 0% no-repeat padding-box;
    border-radius: 23px;
    opacity: 1;
    border-color: #c8242f;
    position: relative;
}
#forgotlink{
    top: 154px;
    left: 530px;
width: 121px;
height: 20px;
/* UI Properties */
text-align: left;
font: normal normal normal 15px/20px Roboto;
letter-spacing: 0px;
color: #ADADAD;
opacity: 1;
position:relative;
}
#link{
    top: 160px;
    left: 400px;
width: 160px;
height: 20px;
/* UI Properties */
text-align: left;
font: normal normal normal 15px/20px Roboto;
letter-spacing: 0px;
color: #ADADAD;
opacity: 1;
position: relative;
}
#registerlink{
    top: 126px;
    left: 556px;
    width: 88px;
    height: 20px;
    text-align: left;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    color: #C8242F;
    opacity: 1;
    position: relative;
}
#hero-image
{
    top: 72px;
left: 232px;
width: 576px;
height: 576px;
/* UI Properties */
background: transparent url('D:\HTML Training Assignment\images\hero-image.png') 0% 0% no-repeat padding-box;
box-shadow: 0px 4px 31px #0000000A;
border-radius: 50%;
border: 20px solid #FFFFFF;
opacity: 1;
position:relative;
}
    
    #logo{
        top: 106px;
left: 400px;;
position: relative;;
width: 272px;
height: 58px;
/* UI Properties */
opacity: 1;
    }

.header{
    top: 0px;
left: 0px;
width: 100%;
height: 50px;
/* UI Properties */
background: #FFFFFF 0% 0% no-repeat padding-box;
opacity: 1;
position:relative;
}
#headerlogo{
    top: 5px;
    left: 24px;
    width: 142px;
    height: 30px;
    opacity: 1;
    position: relative;
}

#menubar{
    top: 34px;
left: 29px;
width: 18px;
height: 30px;
/* UI Properties */
background:  0% 0% no-repeat padding-box;
opacity: 1;
}
#search{
    top: 2px;
    left: 149px;
    width: 16px;
    height: 16px;
    background: 0% 0% no-repeat padding-box;
    opacity: 1;
    position: relative;
}
#searchtext{
    top: -23px;
    left: 342px;
    width: 49px;
    height: 21px;
    text-align: left;
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    position: relative;
}
#notificaton
{
    top: -63px;
    left: 1422px;
    width: 22px;
    height: 21px;
    background: 0% 0% no-repeat padding-box;
    opacity: 1;
    position: relative;
}
#profile{
    top: -64px;
    left: 1437px;
    width: 44px;
    height: 44px;
    background: transparent url('D:\HTML Training Assignment\images\profile.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    position: relative;
}
#name
{
    top: -97px;
    left: 1519px;
    width: 68px;
    height: 21px;
    text-align: left;
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    position: relative;
}
#downarraow{
    top: -138px;
    left: 1575px;
    width: 68px;
    height: 21px;
    text-align: left;
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    position: relative;
}
.sidenav{
    top: -7px;
    left: 0px;
    width: 242px;
    height: 1279px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    position: relative;
}
#img{
    top: 5px;
    left: 23px;
    width: 15px;
    height: 15px;
    background: 0% 0% no-repeat padding-box;
    opacity: 1;
    position: relative;
}
#dashboadtxtactive{
    top: 4px;
    left: 28px;
    width: 78px;
    height: 21px;
    text-align: left;
    font: normal normal normal 21px/21px Roboto;
    letter-spacing: 0px;
    color: #C8242F;
    opacity: 1;
    position: relative;
}
#txt{
    top: 4px;
    left: 28px;
    width: 78px;
    height: 21px;
    text-align: left;
    font: normal normal normal 21px/21px Roboto;
    letter-spacing: 0px;
    
    opacity: 1;
    position: relative;
}
#graphDefault{
    top: -42px;
left: 46px;
width: 19px;
height: 18px;
/* UI Properties */
background:  0% 0% no-repeat padding-box;
opacity: 1;
position:relative;
}
#firstmenu{
    top: 31px;
    left: 13px;
    width: 183px;
    height: 43px;
    opacity: 1;
    position: relative;
}
#maincontainer{
    top: 17px;
    left: 49px;
    width: 146px;
    height: 39px;
    text-align: left;
    font: normal normal normal 27px/39px Roboto;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    position: relative;
    

}
#containerdashboard{
    background-color: #fafafa;
    opacity: 1;
    position: relative;
    left: 34px;
    width: 83%;
}
#displayContainer{
    top: 34px;
    left: 43px;
    width: fit-content;
    height: 89px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    position: relative;
}
#containerimg{
    top: 28px;
    left: 22px;
    width: 33px;
    height: 33px;
    /* background: #C8242F 0% 0% no-repeat padding-box; */
    opacity: 1;
    position: relative;
}
#labeltxt{
    top: 14px;
    left: 35px;
    width: 69px;
    height: 33px;
    text-align: left;
    font: normal normal normal 25px/33px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
    position: relative;
}
#infotxt{
    top: 33px;
    left: -37px;
    width: 94px;
    height: 20px;
    text-align: left;
    font: normal normal normal 11px/20px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
    position: relative;
}
#maindisplaycontainer{
    top: -47px;
    left: 873px;
    position: relative;
    width: fit-content;
}
#displayContainer2{
    top: 34px;
    left: 53px;
    width: fit-content;
    height: 89px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    position: relative;
}
#displayContainer3{
    top: 34px;
    left: 58px;
    width: fit-content;
    height: 89px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    position: relative;
}
#displayContainer4{
    top: 34px;
left: 63px;
width: fit-content;
height: 89px;
/* UI Properties */
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 5px;
opacity: 1;
position: relative;
}
#displayContainer5{
    top: 34px;
left: 68px;
width: fit-content;
height: 89px;
/* UI Properties */
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 5px;
opacity: 1;
position: relative;
}
#graph{
    top: 101px;
    left: 50px;
    width: 802px;
    height: 400px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    position: relative;
}
#graphimg{
    margin-left: 22px;
    margin-top: 67px;
}
#piechart{
    top: 101px;
    left: 104px;
    width: 385px;
    height: 398px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    position: relative;
}
#pieimg{
    margin-top: 57px;
    margin-left: 66px;
}
#graphinfo{
    top: 20px;
    left: 28px;
    width: 43px;
    height: 29px;
    text-align: left;
    font: normal normal medium 22px/29px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
    position: relative;
}
#basisinfo{
    
    top: 20px;
    left: 585px;
    width: 108px;
    height: 16px;
    text-align: left;
    font: normal normal normal 15px/16px Roboto;
    letter-spacing: 0px;
    color: #ADADAD;
    opacity: 1;
    position: relative;
}
#yearly{
    top: 20px;
left: 585px;
width: 33px;
height: 16px;
/* UI Properties */
text-align: left;
font: normal normal normal 15px/16px Roboto;
letter-spacing: 0px;
color: #C8242F;
opacity: 1;
position:relative;
}
#pieinfo{
    margin-left: 43px;
   
    top: 30px;
    font-size: larger;
   
    font-weight: bold;
    position: relative;
}
#table{
    top: 130px;
    left: 53px;
width: 1217px;
height: 558px;
/* UI Properties */
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 5px;
opacity: 1;
position:relative;
}
#tableinfo{
    top: 36px;
    left: 37px;
    width: 82px;
    height: 29px;
    text-align: left;
    font: normal normal normal 33px/29px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
    position: relative;
}
#tableseeall{
    top: 36px;
    left: 1006px;
    width: 67px;
    height: 16px;
    text-align: left;
    font: normal normal normal 15px/16px Roboto;
    letter-spacing: 0px;
    color: #C8242F;
    opacity: 1;
    position: relative;
}
.table{
    top: 67px;
    position: relative;
}
.tablecol{
    font: normal normal normal 15px/20px Roboto;
letter-spacing: 1.5px;
color: #ADADAD;
}
.dot{
    height: 25px;
    width: 25px;
    background-color: #C8242F;
    border-radius: 50%;
    display: inline-block;
}
.dot2{
    height: 25px;
    width: 25px;
    background-color: #A2B86C;
    border-radius: 50%;
    display: inline-block;
}
.dot3{
    height: 25px;
    width: 25px;
    background-color: #F16C20;
    border-radius: 50%;
    display: inline-block;
}
.dot4{
    height: 25px;
    width: 25px;
    background-color: #EBC844;
    border-radius: 50%;
    display: inline-block;
}
.paidstatus{
    background: #EBFFEF 0% 0% no-repeat padding-box;
border-radius: 5px;
opacity: 1;
width: 50px;
}
.failstatus
{
    background: #FFF5F5 0% 0% no-repeat padding-box;
border-radius: 5px;
opacity: 1;
width: 50px;
}
.pendingstatus
{
    background: #F8F8F8 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    width: 70px; 
}
#centercontainerer{
    width: 1180px;
height: 1749px;

background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 5px;
opacity: 1;
left: 40px;
    top: 34px;
    position: relative;
}
#onecolumndiv{
    top: 40px;
    left: 45px;
    position: relative;
}
#twocolumndiv{
    top: 70px;
    left: 48px;
    width: 83%;
    position: relative;
}
#threecolumndiv{
    top: 106px;
    left: 48px;
    width: 83%;
    position: relative;
}
#fourcolumndiv{
    top: 135px;
    left: 48px;
    width: 83%;
    position: relative;
}
#Otherdesignelementdiv{
    top: 160px;
    left: 48px;
    width: 83%;
    position: relative;
}
#checkbox{
    top: 45px;
    position: relative;
}
#uploadbtn{
    border: 1px solid #C8242F;
    border-radius: 18px;
    opacity: 1;
    background-color: white;
}
#snackbar{
    top: 68px;
    position: relative;
}
#alertimg{
    width: 23px;
}
#calltoaction{
    top: 68px;
    position: relative;
}
#primarybtn{
    background: #C8242F 0% 0% no-repeat padding-box;
border-radius: 23px;
opacity: 1;
border: 1px solid #C8242F;
width: 124px;
height: 45px;
}
#secondarybtn{
    background: white 0% 0% no-repeat padding-box;
border-radius: 23px;
opacity: 1;
border: 1px solid #C8242F;
width: 124px;
height: 45px;
}
#Tabs{
    top: 83px;
    position: relative;
}
